.venv/
__pycache__/
*.pyc
.vscode/
hand_landmarker.task# Environments
venv/
env/
.env
start_ai_mouse.bat
TO DO.txt
Backup.md

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# MediaPipe Task files (just in case they come back)
*.task

# IDEs
.vscode/
.idea/